* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Mono;
    font-size: 15px;
    min-height: 0;
    min-width: 0;
    margin: 0;
    padding: 0;
    color: @theme_text_color;
}

window#waybar {
    background: transparent;
}

.horizontal.modules-left {
    margin: 0.2em 0.2em 0;
    padding: 0 10px 0 0;
    background: @theme_base_color;
    border-radius: 1em;
}

#clocktray, #status, #hardware {
    margin: 3px 2px 0px 5px;
    padding: 1px 0.15em;
    background: @theme_base_color;
    border-radius: 0.75em;
}

#group-power:hover {
    /* margin: 3px 2px 0px 5px; */
    /* background: @theme_base_color; */
    background: #45475a;
    border-radius: 0.75em;
}

tooltip {
    background: rgb(49, 50, 68);
    border: 1px solid rgb(88, 91, 112);
    border-radius: 0.75em;
}

tooltip label {
    color: white;
}

#workspaces button {
    color: @theme_text_color;
    padding: 0 5px 0 2px;
    margin-left: 5px;
    border-bottom:  2px solid #585b70;
}

#workspaces button.visible {
    border-bottom:  2px solid #b4befe;
}

#workspaces button.focused {
    border-bottom:  2px solid #f5e0dc;
}

#workspaces button.urgent {
    border-bottom: 2px solid #f38ba8;
}

#clock {
    margin: 0 0.4em;
}

#tray {
    padding: 0 0.5em 0 0.2em;
}

#custom-icon {
    color: #89b4fa;
    padding: 0 1em 0 0.5em;
}

#cpu, #memory {
    padding: 0 0.5em;
}

#pulseaudio, #power-profiles-daemon {
    padding: 0 0.3em;
}

#custom-power, #custom-reboot, #custom-lock, #custom-quit {
    padding: 1px 0.9em 1px 0.75em;
    border-radius: 0.75em;
}

#custom-power:hover, #custom-reboot:hover, #custom-lock:hover, #custom-quit:hover {
    background: #585b70;
}
